<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Flower Shop</title>
	<link rel="preconnect" href="https://fonts.googleapis.com"><link rel="preconnect" href="https://fonts.gstatic.com" crossorigin><link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;700&family=Unbounded:wght@700&display=swap" rel="stylesheet">
	<link rel="stylesheet" href="{% static 'backend/css/main.css' %}">
</head>
<body>
	<header id="header">
		<div class="container">
			<div class="header ficb">
				<a href="/"><img src="{% static 'backend/img/logo.svg' %}" alt="logo" class="logo"></a>
				<nav>
					<ul class="menu ficc">
						<li class="menu__item"><a href="{% url 'catalog' %}" class="menu__item_link">Каталог</a></li>
						<li class="menu__item"><a href="{% url 'index' %}#recommended" class="menu__item_link">Рекомендации</a></li>
						<li class="menu__item"><a href="{% url 'index' %}#contacts" class="menu__item_link">Контакты</a></li>
					</ul>
				</nav>
			</div>
		</div>
	</header>
	<section id="card">
		<div class="container">
			<div class="card ficb">
				<div class="card__block card__block_first">
					{% if bouquet.image.url %}
						<img src="{{ bouquet.image.url }}" alt="img" class="card__img">
					{% else %}
						<img src="{% static 'backend/img/logo.svg' %}" alt="img" class="card__img">
					{% endif %}
				</div>
				<div class="card__block card__block_sec">
					<div class="title">{{ bouquet.title }}</div>
					<div class="card__block_price">{{ bouquet.price | floatformat }} руб</div>
						<span class="card_items_intro">
							{{ bouquet.description | linebreaks }}
						</span>
						<br>
					<div class="card__elems ">
						<span class="card__elems_intro">Состав</span>
						<div class="card__items">
							<span class="card_items_intro">
								{{ bouquet.composition | linebreaks }}
							</span>
						</div>
					</div>
					<div class="card__elems ">
						<span class="card__elems_intro">Размер</span>
						<div class="card__items">
							<span class="card_items_intro">
								{% if bouquet.height %}
									Высота - {{ bouquet.height }} см
								{% else %}
									Высота не указана
								{% endif %}
							</span>
							<span class="card_items_intro">
								{% if bouquet.height %}
									Ширина - {{ bouquet.width }} см
								{% else %}
									Ширина не указана
								{% endif %}
							</span>
						</div>
					</div>
					<a href="{% url 'order' %}"><button class="btn largeBtn card__btn">Заказать букет</button></a>
				</div>
			</div>
		</div>
	</section>
	<section id="consultation">
		<div class="container">
			<div class="consultation">
				<div class="title consultation__title">Оставьте заявку на консультацию</div>
				<form action="{% url 'register-consultation' %}" method="post" class="consultation__form">{% csrf_token %}
					<input type="text" name="client_name" class="consultation__form_input" placeholder="Введите Имя" required>
					<input type="text" name="phonenumber" class="consultation__form_input" placeholder="+ 7 (999) 000 00 00" required>
					<button type="submit" class="consultation__form_btn">Отправить</button>
				</form>
			</div>
		</div>
	</section>
	<footer id="footer">
		<div class="container">
			<div class="footer">
				<a href="/"><img src="{% static 'backend/img/logo.svg' %}" alt="logo" class="logo footer__logo"></a>
				<nav>
					<ul class="menu footer__menu ficc">
						<li class="menu__item"><a href="{% url 'catalog' %}" class="menu__item_link">Каталог</a></li>
						<li class="menu__item"><a href="{% url 'index' %}#recommended" class="menu__item_link">Рекомендации</a></li>
						<li class="menu__item"><a href="{% url 'index' %}#contacts" class="menu__item_link">Контакты</a></li>
					</ul>
				</nav>
				<hr class="line">
				<a href="#" class="footer__poli">Политика конфиденциальности</a>
				<p class="footer_cop">©️2022. FlowerShop. Все права защищены</p>
			</div>
		</div>
	</footer>
</body>
</html>