{% extends 'backend/base.html' %}
{% load static %}

{% block content %}

	{% include 'backend/header.html' %}

	<section id="card">
		<div class="container">
			<div class="cardb ficb">
				<div class="card__block card__block_first">
					{% if bouquet.image %}
						<img src="{{ bouquet.image.url }}" alt="img" class="card__img">
					{% else %}
						<img src="{% static 'backend/img/default_bouquet.jpg' %}" alt="img" class="card__img">
					{% endif %}
				</div>
				<div class="card__block card__block_sec">
					<div class="title">{{ bouquet.title }}</div>
					<div class="card__block_price">{{ bouquet.price | floatformat }} руб</div>
						<span class="card_items_intro">
							{{ bouquet.description | linebreaks }}
						</span>
						<br>
					<div class="card__elems ">
						<span class="card__elems_intro">Состав</span>
						<div class="card__items">
							<span class="card_items_intro">
								{{ bouquet.composition | linebreaks }}
							</span>
						</div>
					</div>
					<div class="card__elems ">
						<span class="card__elems_intro">Размер</span>
						<div class="card__items">
							<span class="card_items_intro">
								{% if bouquet.height %}
									Высота - {{ bouquet.height }} см
								{% else %}
									Высота не указана
								{% endif %}
							</span>
							<span class="card_items_intro">
								{% if bouquet.height %}
									Ширина - {{ bouquet.width }} см
								{% else %}
									Ширина не указана
								{% endif %}
							</span>
						</div>
					</div>
					<a href="{% url 'order-forms' 1 %}"><button class="btn largeBtn card__btn">Заказать букет</button></a>
				</div>
			</div>
		</div>
	</section>

	{% include 'backend/consultation.html' %}

{% endblock %}
