{% extends 'backend/base.html' %}
{% load static %}

{% block content %}
	<div class="mainBg">

		{% include 'backend/header.html' %}

		<section id="banner">
			<div class="container">
				<div class="banner">
					<div class="banner__block">
						<h1 class="banner__title">Мастерская цветов</h1>
						<p class="banner__text">Подберем для вас букет за два шага, который идеально подойдет под вашу ситуацию</p>
						<a href="{% url 'quiz' %}"><button class="btn banner__btn">Подобрать букет</button></a>
					</div>
					<img src="{% static 'backend/img/bannerImg.png' %}" alt="banner Img" class="banner__img">
				</div>
			</div>
		</section>
	</div>

	{% include 'backend/recommended.html' %}

	{% include 'backend/contacts.html' %}

{% endblock %}
