{% extends 'backend/base.html' %}
{% load static %}

{% block content %}

	{% include 'backend/header.html' %}

	<section id="quiz">
		<div class="container">
			<div class="quiz">
				<div class="quiz__back ">
					<a href="{% url 'index' %}" class="quiz__back_link fic"><img src="{% static 'backend/img/arrow-left.svg' %}" alt="arrow-left" class="arrowLeft">
					<span class="quiz__back_intro">Назад</span></a>
				</div>
				<div class="quiz__block">
					<h1 class="quiz__title">К какому событию нужен букет?</h1>
					<form action="{% url 'quiz-step' %}" method="post" class="quiz__elems fic">{% csrf_token %}
						<button name="reason" value="wedding" class="quiz__elem">Свадьба</button>
						<button name="reason" value="birthday" class="quiz__elem">День рождения</button>
						<button name="reason" value="no_reason" class="quiz__elem">Без повода</button>
					</form>
					<div class="quiz__progress">
						<div class="quiz__progress_step">
							<span class="quiz__progress_num">1</span>
							<span class="quiz__progress_in"> шаг из </span>
							<span class="quiz__progress_num">2</span>
						</div>
						<div class="quiz__progress_line">
							<div class="quiz__progress_lineInactive"></div>
						</div>
					</div>
				</div>
				
			</div>
		</div>
	</section>
{% endblock %}
